div{
	margin: 0 auto;
	padding: 0 auto;
}
.boton{
	border-radius: 5px;
	background-color: #9fa8da;
	margin: 5px;
}
h1{
	color: #F4A460;
}
.redes{
  position: fixed;
}
.fondo{
	opacity: 0.9;
    filter: alpha(opacity=90);
}
a{
	opacity: 0.5;
    filter: alpha(opacity=50);
}
a:hover{
	opacity: 1;
    filter: alpha(opacity=100);
}